In [61]:
import pandas as pd
import numpy as np

In [62]:
paris_2024 = pd.read_csv("rawData/Paris_2024/athletes.csv")
sum_winter_1896_2016 = pd.read_csv("rawData/Summer_and_Winter_Games_1896-2016_TidyTuesday/athlete_events.csv")
tokyo_2020 = pd.read_csv("rawData/Tokyo_2020/2020_Olympics_Dataset.csv", encoding='ISO-8859-1')
beijing_2022 = pd.read_csv("rawData/Beijing_2022.csv")
#world_dev_indicators = pd.read_csv("rawData/world_dev_indicators.csv")

In [ ]:
# First Name Last Name Format
paris_2024['name'] = paris_2024['name'].str.title()
paris_2024['name'] = paris_2024['name'].apply(lambda x: ' '.join(x.split()[1:] + x.split()[:1]))

,code,current,name,name_short,name_tv,gender,function,country_code,country,country_long,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1532872,True,Artur Aleksanyan,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...,"Footballer Zinedine Zidane (FRA), World Cup wi...","His father, Gevorg Aleksanyan","""Wrestling is my life."" (mediamax.am. 18 May 2...",NaN,NaN,NaN
1,1532873,True,Malkhas Amoyan,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,NaN,NaN,NaN,NaN,"""To become a good athlete, you first have to b...","Uncle, Roman Amoyan (wrestling), 2008 Olympic ...",NaN,NaN
2,1532874,True,Slavik Galstyan,GALSTYAN S,Slavik GALSTYAN,Male,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,Personal: Martin Alekhanyan (ARM).<br>National...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,True,Arsen Harutyunyan,HARUTYUNYAN A,Arsen HARUTYUNYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Wife, Diana (married October 2022). Daughter, ...",Armenian,National: Habetnak Kurghinyan,While doing karate he noticed wrestlers traini...,"Wrestler Armen Nazaryan (ARM, BUL), two-time O...",NaN,"“Nothing is impossible, set goals in front of ...",NaN,NaN,NaN
4,1532945,True,Vazgen Tevanyan,TEVANYAN V,Vazgen TEVANYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Wife, Sona (married November 2023)","Armenian, Russian",National: Habetnak Kurghinyan (ARM),“My family did not like wrestling very much. A...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11108,4986655,True,Eto Sefora Ada,ADA ETO S,Sefora ADA ETO,Female,Athlete,GEQ,Equatorial Guinea,Equatorial Guinea,...,NaN,Spanish,Personal: Feliciano Javier y Mananses Mba Micha,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11109,9460001,True,Emanuela Liuzzi,LIUZZI E,Emanuela LIUZZI,Female,Athlete,ITA,Italy,Italy,...,NaN,Italian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11110,1972077,False,Isayah Boers,NaN,NaN,Male,Athlete,NED,Netherlands,Netherlands,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11111,1899865,False,Kevin Staut,NaN,NaN,Male,Athlete,FRA,France,France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11112,1924402,False,Charlie Carvell,NaN,NaN,Male,Athlete,GBR,Great Britain,Great Britain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# Gender Format: M or F
paris_2024['gender'] = paris_2024['gender'].replace({'Male': 'M', 'Female': 'F'})

In [65]:
sum_winter_1896_2016.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [66]:
# First Name Last Name Format
tokyo_2020['Name'] = tokyo_2020['Name'].str.title()
tokyo_2020['Name'] = tokyo_2020['Name'].apply(lambda x: ' '.join(x.split()[1:] + x.split()[:1]))

In [67]:
# Gender Format
tokyo_2020['Gender'] = tokyo_2020['Gender'].replace({'Male': 'M', 'Female': 'F'})

In [68]:
# First Name Last Name Format
beijing_2022['name'] = beijing_2022['name'].str.title()

In [69]:
# Gender format: M or F
beijing_2022['Gender'] = beijing_2022['Gender'].replace({'Male': 'M', 'Female': 'F'})